.gay{
	background-color: #FFC0CB;
}
.red{
	border-color: red;
	text-align: center;
	color: white;
	border-style: solid;
}
.orange{
	border-color: orange;
	text-align: center;
	border-style: solid;
}
.yellow{
	border-color: yellow;
	text-align: center;
	border-style: solid;
}
.green{
	border-color: green;
	text-align: center;
	color: white;
	border-style: solid;
}
.blue{
	border-color: blue;
	text-align: center;
	border-style: solid;
}
.indigo{
	border-color: indigo;
	text-align: center;
	border-style: solid;
}
.violet{
	border-color: violet;
	text-align: center;
	border-style: solid;
}
.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
  font-style: italic;
}

.highlighted {
  border: thick dotted red;
}
